<header>
  <div class="logo">
    <img src="/assets/logo.svg" alt="logo" />
  </div>

  <nav>
    <a href="/" class="item">General</a>
    <a href="/world" class="item">World</a>
    <a href="/nation" class="item">Nation</a>
    <a href="/business" class="item">Business</a>
    <a href="/tech" class="item">Technology</a>
    <a href="/entertainment" class="item">Entertainment</a>
    <a href="/sports" class="item">Sports</a>
    <a href="/science" class="item">Science</a>
    <a href="/health" class="item">Health</a>
  </nav>
</header>
