<header>
  <div class="logo">
    <img src="/assets/logo.svg" alt="logo" />
  </div>

  <nav>
    <a href="/" class="item">General</a>
    <a href="/category/world" class="item">World</a>
    <a href="/category/nation" class="item">Nation</a>
    <a href="/category/business" class="item">Business</a>
    <a href="/category/tech" class="item">Technology</a>
    <a href="/category/entertainment" class="item">Entertainment</a>
    <a href="/category/sports" class="item">Sports</a>
    <a href="/category/science" class="item">Science</a>
    <a href="/category/health" class="item">Health</a>
  </nav>
</header>
